@import "tailwindcss";

:root {
  --background: #E6F0FA;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, Arial, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

.dark {
  --background: #050A18;
  --foreground: #ededed;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
body {
  @apply bg-white text-black font-sans transition-colors duration-1000;
}

.dark body {
  @apply bg-black text-white;
}

* {
  cursor: none !important;
}

html, body {
  cursor: none;
}

input, textarea, button, select {
  cursor: auto;
}
